<div class="Clients">
  <h3 class="Clients__heading">
    <% unless dato.homepage_client_section.heading_link.nil? %>
    <a href="<%= dato.homepage_client_section.heading_link%>">
    <% end %>
      <%= dato.homepage_client_section.heading %>
    <% unless dato.homepage_client_section.heading_link.nil? %>
    </a>
    <% end %>
  </h3>
  <div class="Clients__body"><%= dato.homepage_client_section.body %></div>
  <div class="Clients__images">
    <% dato.homepage_client_section.clients.each do |client| %>
      <div class="Clients__image-container">
        <% unless client.title.nil? %>
        <a href="<%= client.title %>">
        <% end %>
    	    <%= image_tag client.url, alt: client.alt, class:"Clients__image" %>
        <% unless client.title.nil? %>
        </a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>