<div class="OurServices space-90 mobile-space-60">
  <div class="OurServices__description">
    <h2 class="OurServices__heading"><%= dato.homepage_service_section.heading %></h2>
    <div class="OurServices__body"><%= dato.homepage_service_section.body %></div>
  </div>
  <ul class="OurServices__services">
    <% dato.homepage_service_section.service.each do |service| %>
    <li class="OurServices__service">
      <a href="<%= service.link_url %>">
        <img class="OurServices__service-image" src="<%= service.image.url %>" alt="<%= service.image.alt %>">
        <span class="OurServices__service-text OurServices__service-text--desktop Link--underline"><%= service.link_text %></span>
        <span class="OurServices__service-text OurServices__service-text--mobile Link--underline">Learn More</span>
      </a>
    </li>
    <% end %>
  </ul>
</div>