<div class="ReviewsSliderSection">
  <div class="ReviewsSliderController">
  <% dato.reviews.each do |review | %>
    <button class="ReviewsSliderController__button js-ReviewsSliderController__button" data-bg="<%= review.background.url%>">
      <%= image_tag review.logo.url, alt: review.logo.alt %>
      <div class="ReviewsSliderController__timer js-ReviewsSlider__timer"></div>
    </button>  
  <% end %>
  </div>
  <div class="ReviewsSlider js-ReviewsSlider">
  <% dato.reviews.each do |review | %>
    <div class="ReviewsSlider__slide">
      <div class="ReviewsSlider__content">
      <button class="ReviewsSlider__button js-ReviewsSlider__button" data-bg="<%= review.background.url%>">
        <%= image_tag review.logo.url, :class => "ReviewsSlider_logo" %>
        <div class="ReviewsSlider__timer js-ReviewsSlider__timer"></div>
      </button>
      <div class="ReviewsSlider__body">
        <%= review.body %>
      </div>
      <h4 class="right">
        <span class="ReviewsSlider__source">
          <%= review.source %>
        </span>
        <span class="ReviewsSlider__title">
          <%= review.source_title %>
        </span>
      </h4>
      </div>
    </div>
  <% end %>
  </div>
</div>
