<footer class="Footer">
	<div class="container m">
		<div class="FooterDesktop">
			<div class="FooterDesktop__logo">
      <%= partial './partials/global/svg-icons', locals:{icon:'logo'} %>
			</div>
			<div class="FooterDesktop__socialIcons">
				<% if dato.footer.facebook_link != '' %>
				<a target="_blank" rel="nofollow" href="<%= dato.footer.facebook_link %>"><i class="fab fa-facebook-f"></i></a>
				<% end %>
				<% if dato.footer.twitter_link != '' %>
				<a target="_blank" rel="nofollow" href="<%= dato.footer.twitter_link %>"><i class="fab fa-twitter"></i></a>
				<% end %>
				<% if dato.footer.instagram_link != '' %>
				<a target="_blank" rel="nofollow" href="<%= dato.footer.instagram_link %>"><i class="fab fa-instagram"></i></a>
				<% end %>
			</div>
			<div class="FooterDesktop__content">
				<div class="FooterDesktop__column FooterDesktop--column1">
					<h2><%= dato.quote_banner.heading %></h2>
          <div>
					 <a href="<%= dato.quote_banner.email_button_url %>"><%= dato.quote_banner.email_button_text %></a>
          </div>
          <div>
					 <a href="<%= dato.quote_banner.phone_button_url %>"><%= dato.quote_banner.phone_button_text %></a>
          </div>
				</div>
<!-- 				<div class="FooterDesktop__column">
	<h4><%= dato.footer_menu_1.heading %></h4>
	<% dato.footer_menu_1.menu_links.each do | footer_link | %>
	<a href="<%= footer_link.url %>" ><%= footer_link.text %></a>
	<% end %>
</div> -->
				<div class="FooterDesktop__column">
					<h4><%= dato.footer_menu_2.heading %></h4>
					<% dato.footer_menu_2.menu_links.each do | footer_link | %>
					<a href="<%= footer_link.url %>" ><%= footer_link.text %></a>
					<% end %>
				</div>
				<div class="FooterDesktop__column">
					<h4><%= dato.footer_menu_3.heading %></h4>
					<% dato.footer_menu_3.menu_text.each do | footer_text | %>
					<%= footer_text.body %>
					<% end %>
				</div>
				<div class="FooterDesktop__column">
					<h4><%= dato.footer_menu_4.heading %></h4>
					<% dato.footer_menu_4.menu_links.each do | footer_link | %>
					<a href="<%= footer_link.url %>" ><%= footer_link.text %></a>
					<% end %>
				</div>
			</div>
			<div class="FooterDesktop__bottom">
				<div class="copyright">
					<p>Copyright &#169; <br>All rights reserved</p>
				</div>
				<div class="images">
					<% dato.footer.logo_gallery.each do | footer_logo | %>
					<%= image_tag footer_logo.url, alt: footer_logo.alt, class:"footer__logo" %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="FooterMobile">
			<h2><%= dato.quote_banner.heading %></h2>
			<div class="FooterMobile__links">
				<a href="<%= dato.quote_banner.phone_button_url %>">Call us</a>
				<a href="<%= dato.quote_banner.email_button_url %>"><%= dato.quote_banner.email_button_text %></a>
			</div>
			<div class="FooterMobile__bottom">
				<div class="FooterMobile__logo">
				<%= partial './partials/global/svg-icons', locals:{icon:'logo'} %>
				</div>
				<div class="copyright">
					<p>Copyright &#169; <br>All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
</footer>