<% if type == 'migrationPage' %>	
	<div class="Service Service__container padding-120 padding-bottom-120 mobile-space-padding-60 mobile-space-padding-bottom-60 ">
		<div class="Service__title__container row small-10">
			<h2 class="Service__title"><%= servicesTitle %></h2>
		</div>
		<div class="row small-10">
			<% servicesBlock.each do |service| %>
				<div class="Service__block large-4 medium-6 small-6 ">
					<div class="Service__content">
						<div class="Service__image">
						<%= image_tag service.icon.url, class:'Service__icon' %>
						</div>
						<div class="Service__text">
							<h2><%= service.title %></h2>
							<p><%= service.body %></p>
						</div>
					</div>
				</div>
			<% end %>

		</div>
		<div class="Service__button__row row small-10">
			<div class="Service__button__container small-10">
				<a href="" class="Service__button Btn Btn--pfc small-10">	
					<%= servicesButton %>
				</a>		
			</div>
		</div>
	</div>
<% end %>