<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield_content :head %>
    <%= dato_favicon_meta_tags %>
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Parkfield Commerce" %></title>
    <%= stylesheet_link_tag "app" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= javascript_include_tag "/javascripts/vendor/slick.min" %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="../../javascripts/vendor/ajaxchimp.min.js"></script>
    <script src="../../javascripts/vendor/sharon-1.6.0.min.js"></script>
    <%= partial './partials/scripts/google-listing' %>
    <%= partial './partials/scripts/google-tracking' %>
    <%= partial './partials/scripts/hotjar' %>
  </head>
  <body class="<%= current_page.data.pageClass %>">
    <%= partial './partials/header/header' %>
    <div class="<%= current_page.data.pageClass %>">
    <%= yield %>
    </div>
    <%= partial './partials/footer/footer' %>
    <%= javascript_include_tag "app" %>
    <%= partial './partials/scripts/hubspot' %>
  </body>
</html>
