<div class="SEOPage__content">
	<div class="container m">
		<div class="SEOPage__content--section">
			<div class="SEOPage__content--mobileImage">
				<%= image_tag dato.seo_page.content_1_mobile_image.url, alt: dato.seo_page.content_1_mobile_image.alt %>
			</div>
			<div class="SEOPage__content--section--left">
				<%= image_tag dato.seo_page.content_1_image.url, alt: dato.seo_page.content_1_image.alt %>
			</div>
			<div class="SEOPage__content--section--right">
				<h2><%= dato.seo_page.content_1_heading %></h2>
				<div class="text"><%= dato.seo_page.content_1_text %></div>
				<a class="scrollToContact btnLink">Book a free consultation</a>
				<a class="scrollToContact Link--underline talkBtn">Let's talk</a>
			</div>
		</div>
	</div>
	<div class="container m">
		<div class="SEOPage__content--section leftAligned">
			<div class="SEOPage__content--mobileImage">
				<%= image_tag dato.seo_page.content_2_mobile_image.url, alt: dato.seo_page.content_2_mobile_image.alt %>
			</div>
			<div class="SEOPage__content--section--left">
				<%= image_tag dato.seo_page.content_2_image.url, alt: dato.seo_page.content_2_image.alt %>
			</div>
			<div class="SEOPage__content--section--right">
				<h2><%= dato.seo_page.content_2_heading %></h2>
				<div class="text"><%= dato.seo_page.content_2_text %></div>
				<a class="scrollToContact Link--underline">Book a free consultation</a>
				<a class="scrollToContact Link--underline talkBtn">Let's talk</a>
			</div>
		</div>
	</div>
	<div class="container m">
		<div class="SEOPage__content--section">
			<div class="SEOPage__content--mobileImage">
				<%= image_tag dato.seo_page.content_3_mobile_image.url, alt: dato.seo_page.content_3_mobile_image.alt %>
			</div>
			<div class="SEOPage__content--section--left">
				<%= image_tag dato.seo_page.content_3_image.url, alt: dato.seo_page.content_3_image.alt %>
			</div>
			<div class="SEOPage__content--section--right">
				<h2><%= dato.seo_page.content_3_heading %></h2>
				<div class="text"><%= dato.seo_page.content_3_text %></div>
				<a class="scrollToContact Link--underline">Book a free consultation</a>
				<a class="scrollToContact Link--underline talkBtn">Let's talk</a>
			</div>
		</div>
	</div>
</div>