<% page = dato.about_page %>
<div class="AboutTeam">
	<h2 class="AboutTeam__heading">
		<%= page.about_team_heading %>
	</h2>


	<div class="AboutTeam__teams AboutTeam__teams--desktop">
		<% page.teams.each_with_index do | team, index |%>
		<div class="AboutTeam__team <% if index == 1 %> designers <% end %>">
			<div class="AboutTeam__members">
				<div class="AboutTeam__member AboutTeam__member--heading">
					<h4><%= team.team_heading.split(' ').first %><br><%= team.team_heading.split(' ').last %></h4>
				</div>
				<% team.team_members.each do | member | %>
					<% name = member.title.split('_', 2).last %>
					<% title = member.title.split('_', 2).first %>
							
					<div class="AboutTeam__member AboutTeam__memberOpenPanel <% if index == 1 %> designer <% end %>" data-person="<%= name.split(' ', 2).last %>">
						<div class="AboutTeam__member__image-container">
							<%= image_tag member.url, alt: "employee", class:"AboutTeam__member__image" %>	
							<div class="AboutTeam__member__overlay">
								<div class="AboutTeam__member__text-container">
									<span class="AboutTeam__member__name"><%= name.split(' ', 2).first %><br><%= name.split(' ', 2).last %></span>
									<a class="AboutTeam__member__title"><%= title %></a>
								</div>
							</div>
						</div>
					</div>
					<div class="AboutTeam__member__employee-image" data-person="<%= name.split(' ', 2).last %>">
						<%= image_tag member.url, alt: "employee", class:"AboutTeam__member__image-panelImg" %>	
					</div>
					<div class="AboutTeam__member__employee-info" data-person="<%= name.split(' ', 2).last %>">
						<div class="closeInfoPanel"><%= partial './partials/global/svg-icons', locals:{icon: 'infoClose'} %></div>
						<span class="name"><%= name %></span>
						<span class="title"><%= title %></span>
						<p><%= member.alt %></p>
					</div>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
	<div class="AboutTeam__teams AboutTeam__teams--mobile">
	<% page.teams.each do | team |%>
		<% team.team_members.each do | member | %>
			<div class="AboutTeam__member">
				<%= image_tag member.url, alt: member.alt, class:"AboutTeam__member__image" %>	
			</div>
		<% end %>
	<% end %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.AboutTeam__memberOpenPanel').click(function(){
			$('.AboutTeam__member__employee-info').each(function(){ $(this).removeClass('openPanel'); });
			$('.AboutTeam__member__employee-image').each(function(){ $(this).removeClass('openPanelImg'); });
			var person = $(this).attr('data-person');
			$('.AboutTeam__member__employee-info[data-person="'+ person +'"]').addClass('openPanel');
			$('.AboutTeam__member__employee-image[data-person="'+ person +'"]').addClass('openPanelImg');
		});
		$('.closeInfoPanel').click(function(){
			$(this).parent().removeClass('openPanel');
			$(this).parent().prev().removeClass('openPanelImg');
		});
	});
</script>