<div class="AboutTeam">
	<div class="AboutTeam__heading">
		<h3><%= dato.about_page.about_team_heading %></h3>
	</div>
	<div class="AboutTeam__content">
		<% dato.about_page.teams.each do | team |%>
		<div class="AboutTeam__team AboutTeam__desktop">
			<h4><%= team.team_heading %></h4>
			<div class="AboutTeam__members">
			<% team.team_members.each do | member | %>
				<div class="AboutTeam__member-wrapper">
					<div class="AboutTeam__overlay">
						<span class="AboutTeam__member-name"><%= member.alt %></span>
						<span class="AboutTeam__member-title"><%= member.title %></span>
					</div>
					<%= image_tag member.url, alt: member.alt, class:"AboutTeam__member-image" %>	
				</div>
			<% end %>
			</div>
		</div>
		<% end %>
		<div class="AboutTeam__mobile">
			<% dato.about_page.teams.each do | team |%>
				<% team.team_members.each do | member | %>
				<div class="AboutTeam__memberImageWrapMobile">
					<%= image_tag member.url, alt: member.alt, class:"AboutTeam__memberImageMobile" %>	
				</div>
			<% end %>
		<% end %>
		</div>
	</div>
</div>