<%= 
#must pass in local variables mobile_image, med_image, large_image, type, heading
#Case Study Requires: isShopify
#Homepage/Generic Requires: subHeadingImage 

=%>
<style>
  .Hero__image{
    background-image: url('<%= large_image.url %>');
  }
  @media screen and (max-width: 1200px){
    .Hero__image{
      background-image: url('<%= med_image.url %>');
    } 
  }
  @media screen and (max-width: 768px){
    .Hero__image{
      background-image: url('<%= mobile_image.url %>');
    } 
  }
</style>

<div class="Hero">
<% if type == 'homepage' %>
  <div class="Hero__image Hero__image--homepage">
  </div>
  <div class="Hero__text Hero__text--homepage">
    <h1 class="Hero__text__heading"><%= heading %></h1>
    <div class="Hero__text__partners">Certified Partners</div>
    <img class="Hero__text__subheading-image" src="<%= subHeadingImage.url %>" alt="<%= subHeadingImage.alt %>">
  </div>
<% elsif type == 'caseStudy' %>
  <div class="Hero__image Hero__image--casestudy">
  </div>
  <div class="Hero__text Hero__text--casestudy">
    <h1 class="Hero__text__heading"><%= heading %></h1>
    <div class="Hero__text__builtwith Hero__text__subheading-image">
      <p>Built with</p> <% if isShopify == true %> <%= image_tag dato.platform.shopify.url %> <% else %> <%= image_tag dato.platform.big_commerce.url %> <% end %>
    </div>
  </div>
<%elsif type =='homewareTextiles'%>
  <div class="Hero__image Hero__image--homewareTextile">
  </div>
  <div class="Hero__text Hero__text--homewareTextile">
    <h1 class="Hero__text__heading HomewareCaseStudy__main__title"><%= heading %></h1>
    <h3 class="Hero__text__heading HomewareCaseStudy__main__title"><%= subHeading %></h3>
    <img class="HomewareCaseStudy__title__image Hero__text__subheading-image" src="<%= subHeadingImage.url %>" alt="<%= subHeadingImage.alt %>">
  </div>
<%elsif type =='MigrationPages'%>
  <div class="Hero__image Hero__image--migrationPage">
  </div>
  <div class="Hero__text Hero__text--migrationPage">
    <h1 class="Hero__text__heading MigrationPage__main__title"><%= heading %></h1>
    <h3 class="Hero__text__heading MigrationPage__main__title"><%= subHeading %></h3>
    <img class="MigrationPage__title__image Hero__text__subheading-image" src="<%= subHeadingImage.url %>" alt="<%= subHeadingImage.alt %>">
  </div>
<% elsif type == 'whatis' %>
  <div class="Hero__image Hero__image--whatis" style="background-image: url('<%= large_image.url %>');">
  </div>
  <div class="Hero__text Hero__text-whatis">
    <h1 class="Hero__text__heading"><%= heading %></h1>
  </div>
<% else %>
  <div class="Hero__image Hero__image--generic">
  </div>
  <div class="Hero__text Hero__text--generic">
    <h1 class="Hero__text__heading"><%= heading %></h1>
    <% unless subHeadingImage.nil? %>
    <img class="Hero__text__subheading-image" src="<%= subHeadingImage.url %>" alt="<%= subHeadingImage.alt %>">
    <% end %>
  </div>
<% end %>
</div>

