<%= 
#must pass in local variables mobile_image, med_image, large_image, type, heading
#Case Study Requires: isShopify
#Homepage/Generic Requires: subHeadingImage 

=%>
<% if locals.has_key? :large_image %>
<style>
  .Hero__image{
    background-image: url('<%= large_image.url %>');
  }
  @media screen and (max-width: 1200px){
    .Hero__image{
      background-image: url('<%= med_image.url %>');
    } 
  }
  @media screen and (max-width: 768px){
    .Hero__image{
      background-image: url('<%= mobile_image.url %>');
    } 
  }
</style>
<% end %>

<div class="Hero Hero--<%= type %>">
<% if type == 'homepage' %>
  <div class="Hero__image Hero__image--homepage">
  </div>
  <div class="Hero__text Hero__text--homepage">
    <h1 class="Hero__text__heading"><%= heading %></h1>
    <img class="Hero__text__subheading-image" src="<%= subHeadingImage.url %>" alt="<%= subHeadingImage.alt %>">
  </div>
<% elsif type == 'caseStudy' %>
  <div class="Hero__image Hero__image--casestudy">
  </div>
  <div class="Hero__text Hero__text--casestudy">
    <h1 class="Hero__text__heading"><%= heading %></h1>
    <div class="Hero__text__builtwith Hero__text__subheading-image">
      <p>Built with</p> <% if isShopify == true %> <%= image_tag dato.platform.shopify.url %> <% else %> <%= image_tag dato.platform.big_commerce.url %> <% end %>
    </div>
  </div>
  <style>
    .Hero::after{
      background-color: rgba(0,0,0, <%= overlayOpacity %>);
    }
  </style>
<% elsif type == 'caseStudyX' %>
  <div class="Hero__image Hero__image--casestudy">
  </div>
  <div class="Hero__text Hero__text--casestudy">
    <h1 class="Hero__text__heading">
      <%= headingLine1 %><br><%= headingLine2 %>
    </h1>
    <div class="Hero__text__builtwith Hero__text__subheading-image">
      <p>Built with</p> <% if isShopify == true %> <%= image_tag dato.platform.shopify.url %> <% else %> <%= image_tag dato.platform.big_commerce.url %> <% end %>
    </div>
  </div>
  <style>
    .Hero::after{
      background-color: rgba(0,0,0, <%= overlayOpacity %>);
    }
  </style>
<%elsif type =='homewareTextiles'%>
  <div class="Hero__image Hero__image--homewareTextile">
  </div>
  <div class="Hero__text Hero__text--homewareTextile">
    <h1 class="Hero__text__heading HomewareCaseStudy__main__title"><%= heading %></h1>
    <h3 class="Hero__text__heading HomewareCaseStudy__main__title"><%= subHeading %></h3>
    <img class="HomewareCaseStudy__title__image Hero__text__subheading-image" src="<%= subHeadingImage.url %>" alt="<%= subHeadingImage.alt %>">
  </div>
<%elsif type =='MigrationPages'%>
  <div class="Hero__image Hero__image--migrationPage">
  </div>
  <div class="Hero__text Hero__text--migrationPage">
    <h1 class="Hero__text__heading MigrationPage__main__title"><%= heading %></h1>
    <h3 class="Hero__text__heading MigrationPage__main__title"><%= subHeading %></h3>
    <img class="MigrationPage__title__image Hero__text__subheading-image" src="<%= subHeadingImage.url %>" alt="<%= subHeadingImage.alt %>">
  </div>
<% elsif type == 'whatis' %>
  <div class="Hero__image Hero__image--whatis" style="background-image: url('<%= large_image.url %>');">
  </div>
  <div class="Hero__text Hero__text-whatis">
    <h1 class="Hero__text__heading"><%= heading %></h1>
  </div>
<% elsif type == 'button' %>
  <div class="Hero__text Hero__text--button">
    <div class="Hero__text__heading-wrap">
      <h1 class="Hero__text__heading"><%= heading %></h1>
    </div>
    <a class="Hero__text__button Btn Btn--animatedLeft Btn--rounded Btn--shadow" href="/contact"><span>Let's build it</span></a>
  </div>
<% else %>
  <div class="Hero__image Hero__image--generic">
  </div>
  <div class="Hero__text Hero__text--generic">
    <h1 class="Hero__text__heading"><%= heading %></h1>
    <% unless subHeadingImage.nil? %>
    <img class="Hero__text__subheading-image" src="<%= subHeadingImage.url %>" alt="<%= subHeadingImage.alt %>">
    <% end %>
  </div>
<% end %>
</div>

<script>
  var parallaxElements = $('.Hero__image'),
    parallaxQuantity = parallaxElements.length;
  $(window).on('scroll', function () {

    window.requestAnimationFrame(function () {

      for (var i = 0; i < parallaxQuantity; i++) {
        var currentElement =  parallaxElements.eq(i);
        var scrolled = $(window).scrollTop();
            
          currentElement.css({
            'transform': 'translate3d(0,' + scrolled * -0.1 + 'px, 0)'
          });

      }
    });
  });
</script>