<% if type == 'homepage' %>
<style>
  .Hero__image--homepage{
    background-image: url('<%= large_image.url %>');
  }
  @media screen and (max-width: 1200px){
    .Hero__image--homepage{
      background-image: url('<%= med_image.url %>');
    } 
  }
  @media screen and (max-width: 768px){
    .Hero__image--homepage{
      background-image: url('<%= mobile_image.url %>');
    } 
  }
</style>
<% end %>

<div class="Hero">
<% if type == 'homepage' %>
<div class="Hero__image Hero__image--homepage">
  <div class="Hero__text">
    <h1 class="Hero__text__heading"><%= heading %></h1>
    <div class="Hero__text__partners">Certified Partners</div>
    <img src="<%= subHeadingImage.url %>" alt="<%= subHeadingImage.alt %>">
  </div>
</div>
<% elsif type == 'caseStudy' %>
<div class="Hero__image Hero__image--casestudy" style="background-image: url('<%= large_image.url %>');">
  <div class="Hero__text">
    <h1 class="Hero__text__heading"><%= heading %></h1>
    <div class="Hero__builtwith">
      Built with
    </div>
  </div>
</div>
<% elsif type == 'whatis' %>
<div class="Hero__image Hero__image--whatis" style="background-image: url('<%= large_image.url %>');">
  <div class="Hero__text">
    <h1 class="Hero__text__heading"><%= heading %></h1>
  </div>
</div>
<% end %>
</div>
