<% if type == 'homepage' %>
<div class="SkewedBanner SkewedBanner--homepage">
  <div class="container s">
    <div class="SkewedBanner__row">
      <div class="SkewedBanner__heading">
        <h3><%= heading %></h3>
      </div>
      <div class="SkewedBanner__body">
        <%= body %>
      </div>
    </div>
  </div>
</div>
<% elsif type == 'caseStudy' %>
<div class="SkewedBanner SkewedBanner--general">
  <div class="SkewedBanner__row row">
    <div class="SkewedBanner__text small-offset-1 small-10">
      <h3>
        <span class="SkewedBanner__source"><%= quoteSource %></span>
        <span class="SkewedBanner__title"><%= quoteSourceTitle %></span>
      </h3>
      <div class="SkewedBanner__body">
      <%= quoteSourceBody %>
      </div>
    </div>
  </div>
</div>
<% elsif type == 'migrationPage' %>
<div class="SkewedBanner SkewedBanner--general SkewedBanner--migrationpage">
  <div class="SkewedBanner__row row">
    <div class="SkewedBanner__text large-6 medium-10 small-10">
      <h3 class="SkewedBanner__heading"><%= reasonTitle %></h3>
      <div class="SkewedBanner__list "><%= reasonList %></div>
    </div>
    <div class="SkewedBanner__text large-6 medium-10 small-10">
      <div class="row">
        <div class="SkewedBanner__percent">
        <% migrationPage.percent.each do |percent| %>
          <div class="large-3 medium-3 small-3">
            <h3><%= percent.percent_number %></h3>
            <h2><%= percent.percent_title %></h2>
          </div>  
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% elsif type == 'whatis' %>
<div class="SkewedBanner SkewedBanner--general SkewedBanner--whatis">
  <div class="SkewedBanner__row row">
    <div class="small-10 SkewedBanner__flex">
      <div class="SkewedBanner__text small-12">
        <h3 class="SkewedBanner__heading"><%= heading %></h3>
      </div>
      <div class="SkewedBanner__text small-6">
        <div class="SkewedBanner__body">
        <%= body %>
        </div>
      </div>
      <div class="SkewedBanner__text small-5">
        <div class="SkewedBanner__body SkewedBanner__body--stats">
        <%= stats %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

