<% design = dato.design_dev_design %>
<% mainImage = design.main_image %>
<% mobileImage = design.mobile_main_image %>

<% firstPerson = design.first_person %>
<% firstName = firstPerson.alt %>
<% firstTitle = firstPerson.title %>

<% secondPerson = design.second_person %>
<% secondName = secondPerson.alt %>
<% secondTitle = secondPerson.title %>

<% mainTitle = design.main_title %>
<% mainBody = design.main_body %>

<div class="space-150 space-bottom-450 tablet-space-90 tablet-space-bottom-60">
<div class="eDesign">
	<div class="eDesign__container container m">
		<div class="eDesign__left-section">
			<div class="eDesign__image-container">
			<%= image_tag  mainImage.url, alt:  mainImage.alt, class:"eDesign__image" %>     
			<%= image_tag  mobileImage.url, alt:  mobileImage.alt, class:"eDesign__mobile__image" %>
				<div class="eDesign__person eDesign__person--1">
					<div class="eDesign__bubble">
						<h4 class="eDesign__person-name"><%= firstName %></h4>
						<p class="eDesign__person-title"><%= firstTitle %></p>
					</div>
					<%= image_tag  firstPerson.url, alt:  firstPerson.alt, class:"eDesign__image__first" %>
				</div>
				<div class="eDesign__person eDesign__person--2">
					<div class="eDesign__bubble">
						<h4 class="eDesign__person-name"><%= secondName %></h4>
						<p class="eDesign__person-title"><%= secondTitle %></p>
					</div>
					<%= image_tag  secondPerson.url, alt:  secondPerson.alt, class:"eDesign__image__second" %>
				</div>
			</div>
		</div>
		<div class="eDesign__right-section">
			<div class="eDesign__text-container">
				<h2 class="eDesign__title"><%= mainTitle %></h2>
				<p class="eDesign__body"><%= mainBody %></p>
				<a href="/contact" class="Link--underline">Let's talk</a>
			</div>
		</div>
	</div>
</div>
</div>