<% intro = dato.design_dev_intro %>
<div class="eIntro__section space-150 space-bottom-90 tablet-space-60 tablet-space-bottom-60">
  <div class="eIntro__container container m">
    <div class="eIntro__left-section">
      <h1 class="eIntro__heading">
        <%= intro.heading %>
      </h1>
      <p class="eIntro__body">
        <%= intro.body %>
      </p>
      <a href="/contact" class="eIntro__link Link--underline">Let's talk</a>
      <div class="eIntro__approved">Approved</div>
      <div>
        <%= image_tag("../images/shopifypartner.png", alt: "Shopify Partner", class: "eIntro__shopify")%>
      </div>
    </div>
    <div class="eIntro__right-section">
      <%= image_tag intro.image.url, alt: intro.image.alt, class: "eIntro__image eIntro__image--desktop"%>
      <%= image_tag intro.mobile_image.url, alt: intro.mobile_image.alt, class: "eIntro__image eIntro__image--mobile"%>
    </div>
  </div>
</div>
