<% intro = dato.design_dev_intro %>
<div class="space-150">
  <div class="eIntro__container container m">
  <div class="eIntro__left-section">
  Approved<br>
  <%= image_tag("../images/shopifypartner.png", alt: "Shopify Partner")%>
  <h1>
    <%= intro.heading %>
  </h1>
  <p>
    <q><%= intro.quote %></q>
    <cite><%= intro.quote_person %></cite>
  </p>
  <a href="/contact" class="Link--underline">Let's talk</a>
  </div>
  <div class="eIntro__right-section">
  	<%= image_tag intro.image.url, alt: intro.image.alt %>
  </div>
  </div>
</div>