  <div class="CaseStudy__browsing SuperCaseStudy__browsing container space-200 space-bottom-150">
    <div class="row">
      <div class="small-12 center">
        <div class="SuperCaseStudy__generic-text space-bottom-120">
          <h3 class="SuperCaseStudy__generic-text__heading">
            <%= caseStudy.website_browsing_heading %>
          </h3>
          <div class="SuperCaseStudy__generic-text__body">
            <%= caseStudy.website_browsing_body %>
          </div>
        </div>
        <%= image_tag caseStudy.website_browsing_video.url, alt: caseStudy.website_browsing_video.url %>
      </div>
    </div>
  </div>

    <div class="CaseStudy__browsing SuperCaseStudy__browsing container space-200 space-bottom-150">
    <div class="row">
      <div class="small-12 center">
        <div class="SuperCaseStudy__generic-text space-bottom-120">
          <h3 class="SuperCaseStudy__generic-text__heading">
            <%= caseStudy.website_browsing_heading %>
          </h3>
          <div class="SuperCaseStudy__generic-text__body">
            <%= caseStudy.website_browsing_body %>
          </div>
        </div>
        <%= image_tag caseStudy.website_browsing_video.url, alt: caseStudy.website_browsing_video.url %>
      </div>
    </div>
  </div>