<div class="CaseStudy__quote space-150 space-bottom-150 mobile-space-60 mobile-space-bottom-60">
  <div class="CaseStudy__quote__container">
    <div class="CaseStudy__quote__svg-container">
      <%= partial './partials/global/svg-icons', locals:{icon: 'quote'} %>
    </div>
    <div class="CaseStudy__quote__body-container">
      <div class="CaseStudy__quote__body">
        <%= body %>
      </div>
      <div class="CaseStudy__quote__cite">
        <%= image_tag image.url, alt: image.alt, class:"CaseStudy__quote__image" %>
        <div class="CaseStudy__quote__person-text">
          <small class="CaseStudy__quote__name">
            <%= name %>
          </small>
          <small class="CaseStudy__quote__job">
            <%= job %>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
