<p>Share</p>
<div class="ShareButtons">
	<a href="https://www.facebook.com/sharer/sharer.php?u=<%= path %>" class="ShareButtons__btn ShareButtons__facebook">
		<i class="fab fa-facebook-f"></i>
	</a>
	<a href="https://twitter.com/share?url=<%= path %>" class="ShareButtons__btn ShareButtons__twitter">
		<i class="fab fa-twitter"></i>
	</a>
	<a href="https://www.pinterest.com/pin/create/button/?url=<%= path %>" class="ShareButtons__btn ShareButtons__pinterest">
		<i class="fab fa-pinterest-p"></i>
	</a>
	<a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= path %>" class="ShareButtons__btn ShareButtons__linkedin">
		<i class="fab fa-linkedin-in"></i>
	</a>
	<a href="mailto:?subject=Share Buttons Demo&body=<%= path %>" class="ShareButtons__btn ShareButtons__email">
		<i class="fas fa-envelope"></i>
	</a>
</div>
