<% dato.custom_app_page.custom_app_sections.each_with_index do | section, index |%>
  <div class="<% unless index == 0  %>padding-120 mobile-space-padding-60<% end %> mobile-space-padding-bottom-60 <% if section.alt_background == true %>background-gray<% end %>">
    <div class="container m">
    <div class="MarketingSection">
      <div class="MarketingSection__text">
        <h2><%= section.heading %></h2>
      	<%= image_tag section.sites_using_app.url, alt: section.sites_using_app.alt, class:"CustomApp__sites-image" %>
        <%= section.body %>
        <% if section.contact_link_is_button  %>
        <a href="#" class="CustomApp__link OurServices__link Link--underline">Need this app? Let's talk</a>
        <% else %>
        <button type="button" class="CustomApp__button Btn Btn--animatedLeft Btn--animatedLeft--purple Btn--rounded Btn--shadow openPopUpCustomApp"><span>Let's build it</span></button>
        <% end %>
      </div>  
      <div class="MarketingSection__imageWrap">
        <div class='MarketingSection__embed-container'>
          <div class="MarketingSection__embed-cover" style="background-image: url('<%= section.cover_image.url %>');">
            <button class="MarketingSection__play-button js-playVimeo">
              <%= partial './partials/global/svg-icons', locals:{icon: 'play'} %>
            </button>
          </div>
          <iframe src="<%= section.video.url %>" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
    </div>
  </div>
<% end %>
<script src="https://player.vimeo.com/api/player.js"></script>
<script>
  
  $('.js-playVimeo').click(function(){
    $(this).parent().fadeOut();
    var iframe = $(this).closest('.MarketingSection__embed-container').find('iframe')[0];
    var player = new Vimeo.Player(iframe);
    player.play();
  });
</script>