---
layout: article-layout
pageClass: ArticlePage
---

<% content_for(:head) do %>
  <%= dato_meta_tags(article) %>
<% end %>

<div class="space-90 space-bottom-90 mobile-space-30 mobile-space-bottom-0">
	<div class="container m ArticleContainer">
		<div class="Article">
			<h1 class="Article__heading"><%= article.heading %></h1>
			<p class="Article__author">By <%= article.author %> - <%= article.date.strftime('%b %-d, %Y') %></p>
			<%= image_tag article.image.url, alt: article.image.alt, class:"Article__featuredImage" %>
			<% article.content.each do | articleSection |%>
			<div class="Article__body">
				<%= articleSection.body %>
			</div>
			<% if articleSection.image != nil %>
				<%= image_tag articleSection.image.url alt: articleSection.image.alt, class:"Article__innerImage" %>
			<% end %>
			<% end %>
			<div class="Article__shareButtons">
				<%= partial './partials/article/share-buttons',
					locals: {
						path: "https://parkfieldcommerce.com/articles/#{article.handle}"
					}
				 %>
			</div>
			<%= partial './partials/article/related-posts.html.erb' %>
		</div>
		<div class="ArticleSideColumn">
			<%= partial './partials/article/sidebar-signup' %>
			<%= partial './partials/article/sidebar-related' %>
			<%= partial './partials/article/sidebar-download' %>
		</div>
	</div>
	<div class="container m">
		<div class="space-200 space-bottom-150 mobile-space-bottom-0" style="width: 100%;">
			<div class="container m">
				<%= partial './partials/homepage/download-section' %>
			</div>
		</div>
	</div>
</div>