<% content_for(:head) do %>
  <%= dato_meta_tags(caseStudy) %>
<% end %>

<% overviewBlock = caseStudy.content_block[0] %>
<% challengeBlock = caseStudy.content_block[1] %>
<% solutionBlock = caseStudy.content_block[2] %>
<% webpageImage1 = caseStudy.webpage_images[0] %>
<% webpageImage2 = caseStudy.webpage_images[1] %>
<% webpageImage3 = caseStudy.webpage_images[2] %>


<%= partial './partials/global/hero', 
  locals:{
    type:'caseStudy',
    mobile_image: caseStudy.banner_gallery[0],
    med_image: caseStudy.banner_gallery[1],
    large_image: caseStudy.banner_gallery[2],
    heading: caseStudy.heading,
    isShopify: caseStudy.platform,
    overlayOpacity: caseStudy.hero_overlay_opacity
  } 
%>

<div class="CaseStudy__gray">
	<div class="container m">
	<%= partial './partials/global/skewedBanner',
	  locals:{
	    type:'caseStudy',
	    quoteSource: caseStudy.quote_source,
	    quoteSourceTitle: caseStudy.quote_source_title,
	    quoteSourceBody: caseStudy.quote_source_body
	  }
	 %>
	</div>
</div>

<div class="CaseStudy">
	<div class="CaseStudy__overview CaseStudy__gray mobile-space-60">
		<div class="CaseStudy__overview__container--1">
			<div class="CaseStudy__row row">
				<div class="CaseStudy__overview__image__container--1 large-6 medium-5 small-10">
          <% if overviewBlock.image_gallery[0] != nil %>
			    <%= image_tag overviewBlock.image_gallery[0].url, alt: overviewBlock.image_gallery[0].alt, class:"CaseStudy__overview__image--1 CaseStudy__overview__image" %>
          <% end %>
          <% if overviewBlock.image_gallery[1] != nil %>
			    <%= image_tag overviewBlock.image_gallery[1].url, alt: overviewBlock.image_gallery[1].alt, class:"CaseStudy__overview__image--2" %>
          <% end %>
				</div>
				<div class="CaseStudy__overview__text__container--1 large-6 medium-5">
					<div class="CaseStudy__overview__text__container--2">
					<h2><%= overviewBlock.heading %></h2>
					<div> <%= overviewBlock.body %></div>
				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="CaseStudy__challenge space-120 mobile-space-60 space-bottom-120 mobile-space-bottom-60" style="width:100%;">
		<div class="container m CaseStudy__challenge__container--1">
			<div class="CaseStudy__challenge__text large-5 medium-10 small-10 ">
				<h2><%= challengeBlock.heading %></h2>
				<div class=""><%= challengeBlock.body %></div>
			</div>
		</div>

		<div class="CaseStudy__challenge__slider__container--1 large-6">
			<div class="CaseStudy__challenge__slider__container--2">
				<% challengeBlock.image_gallery.each do |image| %>
					 <%= image_tag image.url, alt: image.alt, class: 'CaseStudy__challenge__slider-image' %>
				<% end %>	
			</div>

			<div class="CaseStudy__challenge__arrows__container">
				<div class="CaseStudy__challenge__left-arrow">
				<%= partial './partials/global/svg-icons', locals:{icon: 'left-arrow'} %>
				</div>
			
				<div class="CaseStudy__challenge__right-arrow">
				<%= partial './partials/global/svg-icons', locals:{icon: 'right-arrow'} %>
				</div>
			</div>
		</div>
	</div>

	<div class="CaseStudy__pages__container--1 CaseStudy__gray padding-120">
		<div class="">
			<div class="row">
				<div class="CaseStudy__pages__container--2 large-12 medium-12 small-10">
          <% if webpageImage1 != nil %>
			    <%= image_tag webpageImage1.url, alt: webpageImage1.alt, class:"CaseStudy__pages__hide--2" %>
          <% end %>
          <% if webpageImage2 != nil %>
			    <%= image_tag webpageImage2.url, alt: webpageImage2.alt, class:"CaseStudy__pages__hide--1" %>
          <% end %>
          <% if webpageImage3 != nil %>
			    <%= image_tag webpageImage3.url, alt: webpageImage3.alt, class:"CaseStudy__pages__hide--3" %>
          <% end %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="CaseStudy__solution__container--1 space-120 mobile-space-60 ">
		<div class="container m ">
			<div class="CaseStudy__solution__container--2">
				<div class="row">
					<div class="CaseStudy__solution__image__container--1 large-6 medium-10 small-10">
						<% if solutionBlock.image_gallery.length == 1 %>
		    		<%= image_tag solutionBlock.image_gallery[0].url, alt: solutionBlock.image_gallery[0].alt, class:"CaseStudy__solution__image--1" %>
						<% else %>
						<% end %>
					</div>
					<div class="CaseStudy__solution__text__container--1 large-6 medium-10 small-10">
						<h2><%= solutionBlock.heading %></h2>
						<div><%= solutionBlock.body %></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% partial './partials/casestudy/results' %>
<div class="space-200 space-bottom-150 mobile-space-bottom-0" style="width: 100%;">
  <div class="container m">
    <%= partial './partials/homepage/download-section' %>
  </div>
</div>
	<%= partial './partials/casestudy/nextstudybanner' %>
</div>
