---
layout: layout
title: Contact us
pageClass: ContactPage
---

<% content_for(:head) do %>
  <%= dato_meta_tags(dato.contact_page) %>
<% end %>
<div class="ContactPage__intro space-120 mobile-space-30">
	<h1 class="ContactPage__heading">
		<%= dato.contact_page.heading %>
	</h1>
	<div class="ContactPage__body">
		<%= dato.contact_page.body %>
	</div>
	<div class="ContactPage__number">
		<a class="Btn Btn--ghost" href="tel:<%= dato.contact_page.phone_number %>">Call us <%= dato.contact_page.phone_number %></a>
	</div>
</div>
<%= partial './partials/contact-page/contact-wufoo' %>