---
layout: layout
title: Contact us
pageClass: ContactPage
---

<% content_for(:head) do %>
  <%= dato_meta_tags(dato.contact_page) %>
<% end %>

<%= partial './partials/global/hero', 
  locals:{
    type:'generic',
    mobile_image: dato.contact_page.banner[0],
    med_image: dato.contact_page.banner[1],
    large_image: dato.contact_page.banner[2],
    heading: dato.contact_page.banner_heading,
    subHeadingImage: nil
  } 
%>

<div class="ContactForm">
	<a class="ContactForm__callBtn" href="<%= dato.contact_page.call_us_button_link %>"><%= dato.contact_page.call_us_button_text %></a>
	<div class="ContactForm__info">
		<div class="ContactForm__infoItem">
			<h6><%= dato.contact_page.column_1_heading %></h6>
			<p><%= dato.contact_page.column_1_text %></p>
		</div>
		<div class="ContactForm__infoItem">
			<h6><%= dato.contact_page.column_2_heading %></h6>
			<p><%= dato.contact_page.column_2_text %></p>
		</div>
	</div>
	<form id="form96" name="form96" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://shopifybuilder.wufoo.eu/forms/kmjfzql1wfq68r/#public">
			<ul>
			<div class="ContactPopUp__formTopRow">
					<li id="foli4" class="notranslate      ">
					<div class="ContactPopUp__input">
					<input id="Field4" name="Field4" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup=""       placeholder="" />
					<label class="desc" id="title4" for="Field4">
					Full name
					</label>
					</div>
					</li>
					<li id="foli9" class="notranslate      ">
					<div class="ContactPopUp__input">
					<input id="Field9" name="Field9" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="4"       placeholder="" />
					<label class="desc" id="title9" for="Field9">
					Email
					</label>
					</div>
					</li>
					<li id="foli13" class="notranslate      ">
					<div class="ContactPopUp__input">
					<input id="Field13" name="Field13" type="text" class="field text nospin medium"  value="" tabindex="2" onkeyup="" placeholder=""       />
					<label class="desc " id="title13" for="Field13">
					Phone
					</label>
					</div>
					</li>
					<li id="foli10" class="notranslate       ">
					<div class="ContactPopUp__input">
					<input id="Field10" name="Field10" type="url" class="field text medium" value="" maxlength="255" tabindex="5" placeholder=""       />
					<label class="desc" id="title10" for="Field10">
					Website URL (Optional)
					</label>
					</div>
					</li>
			</div>
			<div class="ContactPopUp__textarea">
				<li id="foli15"
				class="notranslate      ">
				<div class="ContactPopUp__input">
				<textarea id="Field15"
				name="Field15"
				class="field textarea medium"
				spellcheck="true"
				rows="1" cols="50"

				tabindex="6"
				onkeyup=""
				placeholder=""
				       ></textarea>
				<label class="desc" id="title15" for="Field15">
				Tell us about your project
				</label>
				</div>
			</div>
			<div class="ContactPopUp__submit">
				<input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="<%= dato.contact_form.submit_button_text %>"/>
			</div>
			

			<li class="hide">
			<label for="comment">Do Not Fill This Out</label>
			<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
			<input type="hidden" id="idstamp" name="idstamp" value="B3CCQjcvEz00I+Ktnxzv1QoH+sO8IelY0gkMBi8kT1M=" />
			</li>
			</ul>
			</form>
			<div class="ContactForm__locations">
				<h5><%= dato.contact_page.locations_heading %></h5>
				<div class="ContactForm__addresses">
					<p><%= dato.contact_page.location_1 %></p>
					<p><%= dato.contact_page.location_2 %></p>
				</div>
			</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
	$('input[type="text"],input[type="email"],input[type="url"],textarea').on('change', function(){
      if ($(this).val().length > 1) {
        $(this).addClass('input-focus');
      }
      if ($(this).val().length == 0) {
        $(this).removeClass('input-focus');
      }
    });
	});
</script>