---
layout: article-layout
pageClass: CustomApp News
---

<% content_for(:head) do %>
  <%= dato_meta_tags(dato.custom_app_page) %>
<% end %>

<%= partial './partials/global/hero', 
  locals:{
    type:'button',
    heading: dato.custom_app_page.banner_heading
  } 
%> 

<%= partial './partials/marketing/heading-info-video.html' %>

<div class="space-200 space-bottom-150 mobile-space-bottom-0">
  <div class="container m">
    <%= partial './partials/homepage/download-section' %>
  </div>
</div>

<%= partial './partials/marketing/contact-popup-custom-apps', 
  locals: {
    heading: dato.custom_apps_popup.heading,
    emailFirst: true
  } 
%>
<script type="text/javascript">
  $(document).ready(function(){
    $('#GetStartedBtn, .openPopUpCustomApp').click(function(e){
      e.preventDefault();
      $('.ContactPopUp').fadeIn();
    });
  });
</script>


