---
pageClass: HomewareTextilesPage
---

<% content_for(:head) do %>
  <%= dato_meta_tags(dato.homeware_textile) %>
<% end %>

<%= partial './partials/global/hero', 
  locals:{
    type:'homewareTextiles',
    mobile_image: dato.homeware_textile.banner_gallery[0],
    med_image: dato.homeware_textile.banner_gallery[1],
    large_image: dato.homeware_textile.banner_gallery[2],
    heading: dato.homeware_textile.banner_heading,
    subHeading: dato.homeware_textile.banner_subheading,
    subHeadingImage: dato.homeware_textile.banner_subheading_image[0]
  } 
%>

<% mobileLogo = dato.homeware_textile.banner_subheading_image[1] %>
<% descriptionHeading = dato.homeware_textile.description_heading %>
<% descriptionBody = dato.homeware_textile.description_body %>
<% descriptionLogo = dato.homeware_textile.description_logo_image %>
<% bottomHeading = dato.homeware_textile.bottom_description_heading %>
<% bottomBody = dato.homeware_textile.bottom_description_body %>



<div class="HomewareTextiles">
  <div class="HomewareCaseStudy__mobile__logo row">
  	<div class="HomewareCaseStudy__image__container small-11">
  		<%= image_tag mobileLogo.url, class:"HomewareCaseStudy__image--4" %>
  	</div>
  </div>
	<div class="HomewareCaseStudy__container--1 container space-120 mobile-space-60">
		<div class="HomewareCaseStudy__awards">
		<%= partial 'partials/homeware-textiles/title-text' , locals:{descriptionHeading: descriptionHeading, descriptionBody: descriptionBody, descriptionLogo: descriptionLogo} %>	
		</div>
		<div class="HomewareCaseStudy__list js-companyList">
			<% dato.homeware_textile_companies.first(3).each do |company| %>
			<%= partial '/partials/homeware-textiles/homeware-case-study',locals: { company: company} %>
			<% end %>
		</div>
    <div style="display: none;" class="HomewareCaseStudy__button center space-90 space-bottom-90">
      <div class="HomewareCaseStudy__loadButton js-loadButton Link--underline" data-start = "0">Load more</div>
    </div>
	</div>
</div>
<%= partial './partials/global/consultationBanner' %>


