---
layout: homepage-layout
pageClass: Homepage
---

<% content_for(:head) do %>
  <%= dato_meta_tags(dato.homepage) %>
<% end %>

<%= partial './partials/homepage/basic-hero', 
  locals:{
    type:'homepage',
    heading: dato.homepage_hero.heading
  } 
%>
<%= partial './partials/homepage/casestudy-slider',
  locals:{
    
  }
%>

<div class="space-60">
  <div class="background-gray container l">
    <div class="container s">
      <%= partial './partials/homepage/our-services' %>
    </div>
  </div>
</div>
<div class="container l">
  <%= partial './partials/homepage/blog-grid' %>
</div>



