---
layout: homepage-layout
pageClass: Homepage
---

<% content_for(:head) do %>
  <%= dato_meta_tags(dato.homepage) %>
<% end %>

<%= partial './partials/homepage/basic-hero', 
  locals:{
    type:'homepage',
    heading: dato.homepage_hero.heading,
    body: dato.homepage_hero.body
  } 
%>
<%= partial './partials/homepage/casestudy-slider' %>

<div class="space-60">
  <div class="container m center">
    <%= partial './partials/homepage/our-services' %>
  </div>
</div>
<div class="space-120 mobile-space-60">
  <div class="container m center">
    <%= partial './partials/homepage/clients' %>
  </div>
</div>
<div class="space-150 mobile-space-60">
  <div class="container m center">
    <%= partial './partials/homepage/basic-reviews-slider' %>
  </div>
</div>
<div class="container l">
  <%= partial './partials/homepage/blog-grid' %>
</div>
<div class="space-200 space-bottom-150 mobile-space-bottom-0">
  <div class="container m">
    <%= partial './partials/homepage/download-section' %>
  </div>
</div>


