---
title: ParkfieldCommerce - E-Commerce Web Design Agency
pageClass: Homepage
---
<%= partial './partials/global/hero', 
  locals:{
    type:'homepage',
    mobile_image: dato.homepage_hero.mobile_image,
    med_image: dato.homepage_hero.med_image,
    large_image: dato.homepage_hero.large_image,
    heading: dato.homepage_hero.heading
  } 
%>
<div class="container m">
<%= partial './partials/global/skewedBanner',
  locals:{
    type:'homepage',
    heading: dato.homepage_skewed_banner.heading,
    body: dato.homepage_skewed_banner.body
  }
 %>
<div class="container s">
<%= partial './partials/homepage/case-study-grid' %>
</div>
</div>
<div class="container m">
  <%= partial './partials/homepage/our-services' %>
</div>
<div class="container l">
<%= partial './partials/homepage/blog-grid' %>
</div>

