---
title: ParkfieldCommerce - E-Commerce Web Design Agency
pageClass: Homepage
---
<%= partial './partials/global/hero', 
  locals:{
    type:'homepage',
    mobile_image: dato.homepage_hero.banner_gallery[0],
    med_image: dato.homepage_hero.banner_gallery[1],
    large_image: dato.homepage_hero.banner_gallery[2],
    heading: dato.homepage_hero.heading,
    subHeadingImage: dato.homepage_hero.partners
  } 
%>
<div class="container m">
<%= partial './partials/global/skewedBanner',
  locals:{
    type:'homepage',
    heading: dato.homepage_skewed_banner.heading,
    body: dato.homepage_skewed_banner.body
  }
 %>
<div class="container s">
<%= partial './partials/homepage/case-study-grid' %>
</div>
</div>
<div class="container s">
  <%= partial './partials/homepage/our-services' %>
</div>
<div class="ReviewBlogContainerBackground js-ReviewBlogContainerBackground space-120 mobile-space-60" data-turn="0">
  <div class="ReviewBlogContainerBackgroundAlt js-ReviewBlogContainerBackgroundAlt" data-turn="1"></div>
  <div class="container m">
    <%= partial './partials/homepage/reviews-slider' %>
  </div>
  <div class="container l">
    <%= partial './partials/homepage/blog-grid' %>
  </div>
</div>



