---
title: Design & Dev
pageClass: SEOPage DarkNav
---

<% content_for(:head) do %>
  <%= dato_meta_tags(dato.seo_page) %>
<% end %>

<% content_for(:gtagtrack) do %>
  <!-- Event snippet for Marketing contact form conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-862344041/EFGACI2WzpEBEOmmmZsD',
      'event_callback': callback
  });
  return false;
}
</script>
<% end %>

<div class="background-gray">
	<%= partial './partials/seo-page/intro' %>
</div>
<%= partial './partials/seo-page/services' %>
<div class="SEOPage__banner">
	<div class="SEOPage__banner--container">
		<h2><%= dato.seo_page.banner_text %></h2>
		<a class="scrollToContact">Start growing today</a>
	</div>
</div>
<%= partial './partials/seo-page/testimonial-slider' %>
<%= partial './partials/seo-page/form' %>

<script type="text/javascript">
	$('.scrollToContact').click(function(){
		$('html, body').animate({
			scrollTop: ($('.SEOPage__form').first().offset().top)
		}, 500);
	});
</script>