---
pageClass: migrationGeneralPages
---

<% content_for(:head) do %>
  <%= dato_meta_tags(migrationGeneralPage) %>
<% end %>

<%= partial './partials/global/hero', 
  locals:{
    type:'migrationGeneralPage',
    mobile_image: migrationGeneralPage.banner_gallery[0],
    med_image: migrationGeneralPage.banner_gallery[1],
    large_image: migrationGeneralPage.banner_gallery[2],
    heading: migrationGeneralPage.banner_heading,
    subHeading: migrationGeneralPage.banner_subheading,
    subHeadingImage: migrationGeneralPage.banner_subheading_image
  } 
%>
<div class="container m">
<%= partial './partials/global/skewedBanner',
  locals:{
    type:'migrationGeneralPage',
    reasonTitle: migrationGeneralPage.reason_title,
    reasonList: migrationGeneralPage.reason_list,
    percent: migrationGeneralPage.percent
  }
 %>
</div>

<%= partial './partials/migration-pages/migrated',
  locals:{
    type:'migrationGeneralPage',
    migratedTitle: migrationGeneralPage.migrated_clients_title,
    migratedGallery: migrationGeneralPage.migrated_company_logos,
    migratedTo: migrationGeneralPage.migrated_to,
    migratedButton: migrationGeneralPage.migrated_button_text,
    migratedButtonLink: migrationGeneralPage.migrated_button_link
  }
 %>

<%= partial './partials/migration-pages/services',
  locals:{
    type:'migrationPage',
    servicesTitle: migrationGeneralPage.migration_services_title,
    servicesBlock: migrationGeneralPage.services,
    servicesButton: migrationGeneralPage.button_title,
    servicesButtonLink: migrationGeneralPage.button_link
  }
 %>

<%= partial './partials/migration-pages/slider',
  locals:{
    type:'migrationPage',
    sliderBlock: migrationGeneralPage.slider,
    sliderButtonTitle: migrationGeneralPage.slider_button_title,
    sliderButtonLink: migrationGeneralPage.slider_button_link
  }
%>

<%= partial './partials/migration-pages/accordion-faqs',
  locals:{
    type:'migrationGeneralPage',
    accordionTitle: migrationGeneralPage.faq_category_header,
    accordionFaq: migrationGeneralPage.faq_categories
  }
 %>

<%= partial './partials/migration-pages/text-button-image',
  locals:{
    type:'migrationGeneralPage',
    bottomTitle: migrationGeneralPage.bottom_title,
    bottomBody: migrationGeneralPage.bottom_body,
    bottomButtonTitle: migrationGeneralPage.bottom_button_title,
    bottomButtonLink: migrationGeneralPage.bottom_button_link,
    bottomImageGallery: migrationGeneralPage.bottom_image_gallery
  }
 %>

<%= partial './partials/global/contact-popup', 
  locals: {
    heading: 'Get a free quote'
  } 
%>
<script type="text/javascript">
  $(document).ready(function(){
    $('.openPopUp').click(function(){
      $('.ContactPopUp').fadeIn();
    });
    $('#CloseContactPopUp').click(function(){
      $('.ContactPopUp').fadeOut();
    });

    $('input[type="text"],input[type="email"],input[type="url"],textarea').on('change', function(){
      if ($(this).val().length > 1) {
        $(this).addClass('input-focus');
      }
      if ($(this).val().length == 0) {
        $(this).removeClass('input-focus');
      }
    });

    $('#select,.chevron').click(function(){
      $('.ContactPopUp__dropdown').toggleClass('active');
    });

    $('.dataSelector').click(function(){
      var value = $(this).attr('data-value');
      $('#select').val(value);
      $('#select').trigger('change');
      $('#Field7').val(value);
      $('.ContactPopUp__dropdown').removeClass('active');
    });

    $('#saveForm').click(function(e){
      var name = $('#Field4').val();
      var email = $('#Field9').val();
      var emailTest = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      var nameTest = /^[A-Za-z\s]+$/;

      if (!nameTest.test(name)){
        e.preventDefault();
        $('#Field4').css('border-bottom', '1px solid red');
        $('label[for="Field4"]').css("color", "red");
      }
      if (!emailTest.test(String(email).toLowerCase())){
        e.preventDefault();
        $('#Field9').css('border-bottom', '1px solid red');
        $('label[for="Field9"]').css("color", "red");
      }
    });

  });
</script>