---
pageClass: MigrateTo DarkNav
---

<% content_for(:head) do %>
  <%= dato_meta_tags(dato.shopify_migration_page) %>
<% end %>
<div class="MigrateTo__overflow-container">
  <div class="MigrateTo__container">
    <%= partial './partials/migrate-to/intro' %>
  </div>
</div>
<%= partial './partials/migrate-to/migrate-slider' %>

<div class="MigrateTo__overflow-container">
  <%= partial './partials/migrate-to/migration-services' %>
  <%= partial './partials/global/contact-form-banner' %>
  <%= partial './partials/migrate-to/migrate-quote' %>
</div>