---
layout: portfolio-layout
pageClass: portfolio-page
---
<section class="BrandDropdown" href="#nav-portfolio">

	<!-- Categories for Filter appends here -->
	<div class="FilteredList" id="FilteredList"></div>

	<!-- Background Images for Hover -->
	<div class="ImageCover" id="ImageCover">
		<% dato.brands.each_with_index do |b, index| %>
			<div class="BrandImage <% if index == 0 %>visible<% end %>" data-hover="<%= b.name %>" style="background-image:url('<%= b.background.url %>')"></div>
		<% end %>
	</div>

	<!-- Brand Logos here -->
	<div class="BrandsWrapper">
		<div class="inner">
			<!-- ==================================================================================
				Important: Keep a.brand.category-all above the loop so that all brands show on click
				and to avoid future bugs
			 =======================================================================================-->
			<a class="brand category-all" data-category="All"></a>

			<% dato.brands.each do |b| %>
				<a href="<%= b.url %>" class="brand" data-target="<%= b.name %>" data-category="<%= b.category %>" data-hover-bg="<%= b.background.url %>">
					<div class="logo" style="background-image: url('<%= b.logo.url %>')"></div>
				</a>
			<% end %>

		</div>
	</div>
</section>
