---
layout: layout
pageClass: ServicesPage
---
<%= partial './partials/global/hero', 
  locals:{
    type:'generic',
    mobile_image: dato.service_page.banner[0],
    med_image: dato.service_page.banner[1],
    large_image: dato.service_page.banner[2],
    heading: dato.service_page.heading,
    subHeadingImage: dato.service_page.subheading_image
  } 
%>
<div class="container l">
	<div class="space-90 mobile-space-60 space-bottom-90 mobile-space-bottom-30">
	<%= partial './partials/global/title-and-text', 
		locals: {
			heading: dato.service_page.service_description[0].heading,
			body: dato.service_page.service_description[0].body,
			modifier: nil
		} 
	%>
	</div>
</div>

<%= image_tag dato.service_page.service_banner.url, alt: dato.service_page.service_banner.alt, class:"ServicesPage__banner" %>

<div class="container l">
	<div class="space-90 mobile-space-60 space-bottom-90">
	<%= partial './partials/global/title-and-text', 
		locals: {
			heading: dato.service_page.service_description[1].heading,
			body: dato.service_page.service_description[1].body,
			modifier: '--larger-text'
		} 
	%>
</div>
</div>

<div class="container l">
	<div class="space-90 mobile-space-60 space-bottom-90 mobile-space-bottom-30">
	<%= partial './partials/global/title-and-text', 
		locals: {
			heading: dato.service_page.service_description[2].heading,
			body: dato.service_page.service_description[2].body,
			modifier: '--larger-text'
		} 
	%>
</div>
</div>

<div class="ServicesPage__CaptionedImage__container space-bottom-90 mobile-space-bottom-60">
	<%= image_tag dato.service_page.captioned_image.url, alt: dato.service_page.captioned_image.alt, class:"ServicesPage__captionedImage" %>
	<p class="ServicesPage__captionedImageText"><%= dato.service_page.captioned_image.title %></p>
</div>