---
pageClass: CaseStudyX
---

<% content_for(:head) do %>
  <%= dato_meta_tags(caseStudy) %>
<% end %>

<%= partial './partials/global/hero', 
  locals:{
    type: 'caseStudyX',
    mobile_image: caseStudy.banner_gallery[0],
    med_image: caseStudy.banner_gallery[1],
    large_image: caseStudy.banner_gallery[2],
    heading: caseStudy.heading,
    isShopify: caseStudy.platform,
    overlayOpacity: caseStudy.hero_overlay_opacity
  } 
%>

<div class="container m">
<%= partial './partials/global/skewedBanner',
  locals:{
    type:'casestudyx',
    heading: caseStudy.overview_heading,
    body: caseStudy.overview_body,
  }
 %>
</div>


<%= partial './partials/supercasestudy/intro',
  locals:{
    heading: caseStudy.intro_heading,
    body: caseStudy.intro_body,
    images: caseStudy.intro_images,
    stats: caseStudy.intro_stats
  } 
%>
<%= partial './partials/supercasestudy/overview-image',
  locals:{
    image: caseStudy.overview_image
  }
%>
<%= partial './partials/supercasestudy/video',
  locals:{
    coverImage: caseStudy.cover_image,
    video: caseStudy.video,
    enable: caseStudy.show_video
  }
%>
<%= partial './partials/supercasestudy/mobile',
  locals:{
    heading: caseStudy.mobile_section_heading,
    body: caseStudy.mobile_section_body,
    images: caseStudy.mobile_section_images,
    percentage: caseStudy.conversion_rate_percentage
  }
%>
<%= partial './partials/supercasestudy/browsing',
  locals:{
    video: caseStudy.website_browsing_video,
    heading: caseStudy.website_browsing_heading,
    body: caseStudy.website_browsing_body,
    percentage: caseStudy.sales_increase_percentage
  }
%>
<%= partial './partials/supercasestudy/brand-story',
  locals:{
    fullBanner: caseStudy.full_width_image,
    heading: caseStudy.brand_story_heading,
    body: caseStudy.brand_story_body,
    percentage: caseStudy.uptime_percentage,
    images: caseStudy.brand_story_images
  }
%>
<%= partial './partials/supercasestudy/quote',
  locals:{
    name: caseStudy.quote_person,
    body: caseStudy.quote_body,
    job: caseStudy.quote_person_job_title,
    image: caseStudy.quote_person_image
  }
%>
<%= partial './partials/supercasestudy/email-form.html' %>
<%= partial './partials/casestudy/nextstudybanner' %>
