---
title: ParkfieldCommerce - What is Shopify?
pageClass: Whatis
---

<% content_for(:head) do %>
  <%= dato_meta_tags(dato.what_is_shopify) %>
<% end %>

<%= partial './partials/global/hero', 
  locals:{
    type:'whatis',
    mobile_image: dato.what_is_shopify.hero_banner_gallery[0],
    med_image: dato.what_is_shopify.hero_banner_gallery[1],
    large_image: dato.what_is_shopify.hero_banner_gallery[2],
    heading: dato.what_is_shopify.hero_heading,
    subHeadingImage: dato.what_is_shopify.hero_subheading_image
  } 
%>
<div class="container m">
<%= partial './partials/global/skewedBanner',
  locals:{
    type:'whatis',
    heading: dato.what_is_shopify.skewed_banner_heading,
    body: dato.what_is_shopify.skewed_banner_body,
    stats: dato.what_is_shopify.skewed_banner_stats
  }
 %>
</div>
<% dato.what_is_shopify.content_block.each do |block| %>
  <%= partial './partials/whatis/image-text-button',
    locals:{
      imagePosition: block.image_on_left,
      altBackground: block.alt_background,
      heading: block.heading,
      body: block.body,
      image: block.image,
      buttonText: 'Get a free trial'
    }
   %>
<% end %>
<%= partial './partials/whatis/platform-features',
  locals:{
    dataBlocks: dato.what_is_shopify.features
  }
 %>

 <%= partial './partials/global/consultationBanner' %>
<%= partial './partials/global/contact-popup', 
  locals: {
    heading: dato.contact_form.heading
  } 
%>
<script type="text/javascript">
  $(document).ready(function(){
    $('#ContactFormButton, .Btn--whatis').click(function(){
      $('.ContactPopUp').fadeIn();
    });
  });
</script>
